@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
  display: grid;
  grid-template-rows: 90vh auto;
  grid-template-columns: auto;
  text-align: center;
  background-color: whitesmoke;
}

body main {
  padding-top: 7em;
}

.card-panel {
  background-color: blue;
  margin: 0 auto;
  width: 60%;
}

hr {
  border: 1px solid gray;
}

.my-footer {
  border-top: 1px solid darkgray;
  display: flex;
  justify-content: space-between;
  padding: 1vw;
}

.joke-text {
  font-family: 'Inconsolata', monospace;
  font-size: 2em;
}

@media (max-height: 520px) {
  body main {
    padding-top: 3.5em;
  }

  .joke-text {
    font-size: 1.5em;
  }
}